<%- include('partials/header'); -%>

<body>
  <div class="container">
    <h1>Compose</h1>
    <form action="/compose" method="post">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input
          type="text"
          name="title"
          class="form-control"
          id="exampleFormControlInput1"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Post</label>
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
          name="post"
        ></textarea>
      </div>
      <div style="margin-top: 30px">
        <button type="submit" class="btn btn-primary" name="button">
          Publish
        </button>
      </div>
    </form>
  </div>
</body>

<%- include('partials/footer')-%>
